body {
    margin: 0;
    overflow: hidden;
}

* {
    image-rendering: crisp-edges;
}

:root {
    --boxes-sized: 10vmin;
    /*
    --dog-rotation: rotate(90deg) rotateY(180deg);
    */
    /*--dog-rotation: 0deg;*/
}

.flex {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#compile {
    position: absolute;
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    transform: translate(-100%, -100%);
}

iframe {
    flex: 3;
    border: none;
}

.sensor_emulator {
    justify-content: center;
    align-items: center;
    flex: 2;
}

#action_limit {
    position: absolute;
    top: 0;
    left: 100%;
    width: max-content;
    padding-right: 15px;
    transform: translateX(-100%);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: contain;
}

.dog {
    background-image: url('./images/dog.png');
    /*transform: var(--dog-rotation);*/
}

.slime {
    background-image: url('./images/slime.png');
}